* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-family: 'Space Mono', monospace;
    font-weight: 600;
}

body {
    background-color: hsl(185, 41%, 84%);
}

/* Cuerpo de la pagina */
main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    color: hsl(186, 14%, 43%);
}

/* Titulo */
h1 {
    margin: 5% 45% -8% 45%;
    text-align: center;
}

/* Estilos del form */
form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    background-color: hsl(0, 0%, 100%);
    padding: 2rem;
    border-radius: 1rem;
    margin: 10% 30%;
}

/* Label */
label {
    padding: 1rem 0rem;
}

/* Estilos de los input */
.ingresarDatos {
    display: flex;
    text-align: right;
    width: 70%;
    background-color: hsl(189, 41%, 97%);
    background-repeat: no-repeat;
    padding: 0.2rem;
    font-size: 2rem;
}
#montoTotal {
    background-image: url(./images/icon-dollar.svg);
    background-size: 1.7rem;
}
#cantidadPersonas {
    background-image: url(./images/icon-person.svg);
    background-size: 2rem;
}

/* Botones de propina */
button {
    background-color: hsl(183, 100%, 15%);
    color: hsl(0, 0%, 100%);
    padding: 0.5rem 1.5rem;
    font-size: 1.5rem;
    border-radius: 0.2rem;
}

/* Seccion derecha del form */
#dos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsl(183, 100%, 15%);
    padding: 2rem;
    border-radius: 1rem;
}

/* Spans */
span {
    display: flex;
    flex-wrap: wrap; 
}
/* Tip Amount y Total */
.monto {
    color: hsl(0, 0%, 100%);
}
/* / person */
.persona {
    font-size: 0.7rem;
}
/* Saldo a pagar */
.montoAPagar {
    color: hsl(175, 47%, 71%);
}

article {
    color: hsl(183, 100%, 15%);
    color: hsl(186, 14%, 43%);
    color: hsl(184, 14%, 56%);
    color: hsl(185, 41%, 84%);
    color: hsl(189, 41%, 97%);
    color: hsl(0, 0%, 100%);
}









footer {
    color: #000;
    bottom: 0;    
    font-size: 0.8rem; 
    text-align: center;
}
footer a {
    text-decoration: none;
    color: rgb(0, 255, 21);
}
footer a:visited {
    color: rgb(0, 0, 255);
}
footer a:hover {
    color: rgb(0, 255, 170);
}